<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="LogToConsole" target="SYSTEM_OUT">
            <PatternLayout pattern="%highlight{%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n}{TRACE=blue}" disableAnsi="false"/>
            <!--            <PatternLayout pattern="[%t] %-5level %logger{36} - %msg%n"/>-->
        </Console>
        <Console name="LogToConsoleConnectionsInfo" target="SYSTEM_OUT">
            <PatternLayout pattern="%highlight{%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n}{TRACE=magenta}" disableAnsi="false"/>
            <!--            <PatternLayout pattern="[%t] %-5level %logger{36} - %msg%n"/>-->
        </Console>
        <File name="LogToFile" fileName="logs/app.log" append="false">
            <PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
            </PatternLayout>
        </File>
        <File name="LogToFile2" fileName="logs/main.log" append="false">
            <PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
            </PatternLayout>
        </File>


        <SMTP name="Mail" subject="Error Log" to="weissmicha0511@gmail.com" from="loggerjavatest@gmail.com"
              smtpUsername="loggerjavatest@gmail.com" smtpPassword="rxfsqwhxxyhtknsp"
              smtpHost="smtp.gmail.com" smtpPort="465" bufferSize="50" smtpProtocol="smtps">
        </SMTP>
        <!--        "org.apache.logging.log4j.core.appender.SmtpAppender"-->
    </Appenders>
    <Loggers>

        <Root level="debug">
            <AppenderRef ref="LogToFile2"/>
            <AppenderRef ref="LogToConsole"/>
            <AppenderRef ref="Mail"/>
        </Root>
    </Loggers>
</Configuration>